<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byType">	
	<bean id="applicationContextProvider" class="com.otherbrane.configuration.Settings"></bean>	
    <bean id="rootUrl" class="java.lang.String"><constructor-arg type="java.lang.String" value='http://s3.amazonaws.com/otherbrane/'/></bean>
    <!-- 
    OB.absolutePath = window.location.pathname.replace(/\/[^/]+$/, "");
     -->
    <bean id="mediaUrl" class="java.lang.String"><constructor-arg type="java.lang.String" value='/WebGLFirst'/></bean>
    <bean id="buttonText" class="java.lang.String"><constructor-arg type="java.lang.String" value='Long pinkish elephant with a sofa shaped trunk'/></bean>
    <!--
    <bean id="mediaUrl" class="java.lang.String"><constructor-arg type="java.lang.String" value='http://otherbrane.s3-website-us-east-1.amazonaws.com/world1/area1'/></bean>
    -->
    <bean id="webglRequest" class="webgl.Request" scope="request">
        <aop:scoped-proxy/>
    </bean>
    <bean id="webglSession" class="webgl.Session" >
        <property name="request" ref="webglRequest"/>
    </bean>
</beans>
